.button {
	display:inline-block;
    position:relative;
    margin:0.4em;  padding:1em;
    cursor:pointer;
    background:#343C99;  color:white; 
	z-index:0;
	font-family: Arial;
	width: 150px;
	font-size: 20px;
	margin: 15px ;

}
.button:before {
	content: "";
	position: absolute;
	z-index:-1;
	top: 0;  left: 0;  right: 0;  bottom: 0;
	background: #4551CC;
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: transform .3s ease-out;
}

.button:hover:before{transform: scaleX(1);}


.logo {
	margin-top: 50px;
}

.button_container {
	align-self: center;
}

.mainText {
	font-size: 21px;
	margin-left: 400px;
	margin-right:400px;
	font-family: Helvetica;
}

.disclaimer {
	font-size: 20px;
	font-family: Helvetica;
	margin-top: 180px;
}