.burgerMenu {
    margin-top: 50px;
    margin-right: 90px;
    cursor:pointer;
    width: 0;
}

.burgerMenuBar {
    background-color: black;
    margin-top: 12px;
    padding: 2.5px;
    display: none;
    visibility: hidden;
}

.burgerMenuClose {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.burgerMenuItemListContainer {
    margin-top: 150px;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 11;
    top: 0;
    left: 0;
    text-align: center;

}

.burgerMenuItemList {
    margin: auto;
}

.burgerMenuItemList .menuOption {
    margin: auto;
    font-size: 30px;
    margin-top: 60px;
    cursor: pointer;
}

.burgerMenuItemList .menuOption:hover {
    font-weight: bold;
}

@media only screen and (max-width: 940px) {
    .burgerMenuBar {
        display: block;
        visibility: visible;
    }
    .burgerMenu {
        width: 70px;
    }
  }