body {
  margin: 0;
  font-family: url('assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
